__pycache__/
*.py[cod]
.cache/
.idea/
./config.json
docs/_build/
dist/
build/
istsos.egg-info/
tutorial/
MANIFEST
istsos/plugins/*
!istsos/plugins/__init__.py
!istsos/plugins/example/
istsos/plugins/example/__pycache__
